footer {
    padding: 1rem;
    background-color: goldenrod;
    color: maroon;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 1rem;
    margin: 0.5rem 1rem 1rem 1rem;
  }